# Python
__pycache__/
.ipynb_checkpoints/
.env/

# Editors
.vscode

# Data
data/*
!data/.gitkeep

# Local
local/*
!local/.gitkeep

# Configs
configs/*
!configs/pca_logistic_config.yml
!configs/autoencoder_logistic_config.yml
!configs/vif_subset_logistic_config.yml

# Subsets
subsets/*
!subsets/xgb_var_subset.txt